@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
*{
  box-sizing:border-box;
}

img{
  max-width:100%;
  height:auto;
}

body{
  overflow-x:hidden;
}

html{
  overflow-x:hidden;
}